body {
	display: flex;
	flex-direction: column;
}
main {
	display: flex;
	flex-direction: row;
	flex: auto;
}
article {
	flex: 2;
	overflow-y: auto;
}
aside {
	flex: 1 1 auto;
	overflow-y: auto;
}
h1 {
	flex: 2;
	overflow-y: auto;
}